* {
    margin: 0;
    list-style: none
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #1a9fff;
    text-decoration: underline
}

header {

}

header .wrapper-3xl {
    width: 1200px;
    margin: auto;
}

header .wrapper-3xl .logo {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(to bottom, #1a9fff, #1574f5);
    -webkit-background-clip: text;
    color: transparent;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-sans)
}

a {
    font-weight: var(--font-medium);
    text-decoration: none;
    color: var(--color-primary);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.no-touch a:hover {
    text-decoration: underline;
    color: var(--color-primary-dark)
}

:focus {
    outline: 0
}

:focus:not(.nuxt-link-exact-active):not(.router-link-exact-active) {
    outline: 0;
    box-shadow: var(--shadow-focus)
}

input, textarea {
    margin: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: var(--color-grey-medium)
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: var(--color-grey-medium)
}

input::placeholder, textarea::placeholder {
    color: var(--color-grey-medium)
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    background-image: none;
    -webkit-appearance: none
}

input[type=search] {
    -webkit-appearance: none
}

button {
    display: inline-block;
    padding: 0;
    font-weight: inherit;
    font-family: inherit;
    white-space: nowrap;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    border-style: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

h1, h2, h3, h4 {
    font-weight: var(--font-bold);
    margin: 0 0 24px
}

:lang(ko) h1, :lang(ko) h2, :lang(ko) h3, :lang(ko) h4, :lang(zh-hans) h1, :lang(zh-hans) h2, :lang(zh-hans) h3, :lang(zh-hans) h4, :lang(zh-hant) h1, :lang(zh-hant) h2, :lang(zh-hant) h3, :lang(zh-hant) h4 {
    font-weight: var(--font-semibold)
}

picture {
    display: block
}

figure, h1, h2, h3 {
    margin: 0
}

p {
    margin: 0 0 12px
}

*, :after, :before {
    box-sizing: inherit
}

body {
    height: 100%;
    margin: 0;
    font-size: 17px;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    overflow-x: hidden
}

label {
    display: inline-block
}

img {
    display: block;
    max-width: 100%
}

#__layout, #__nuxt {
    height: 100%
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

:root {
    --black: #000;
    --grey-900: #272e36;
    --grey-700: #4f5b68;
    --grey-500: #848f9a;
    --grey-400: #a3abb3;
    --grey-300: #c3c7cc;
    --grey-200: #e1e3e5;
    --grey-100: #ebedee;
    --grey-50: #f5f6f7;
    --white: #fff;
    --blue-700: #006fdc;
    --blue-600: #006fdc;
    --blue-400: #1a9fff;
    --blue-100: #b7ddfe;
    --blue-50: #e0f1fe;
    --red-700: #dc2c39;
    --red-500: #fa4040;
    --red-50: #feecee;
    --navy-900: #222273;
    --navy-700: #363d95;
    --navy-200: #a0a7d4;
    --pink-400: #fa2296;
    --pink-300: #fb59ac;
    --pink-50: #fee4f0;
    --yellow-800: #efa014;
    --yellow-600: #f2d025;
    --green-600: #49d424;
    --green-400: #7bea56;
    --violet-500: #a429a7;
    --violet-700: #851f99;
    --color-black: var(--black);
    --color-grey-darker: var(--grey-900);
    --color-grey-dark: var(--grey-700);
    --color-grey: var(--grey-500);
    --color-grey-medium: rgba(0, 0, 0, 0.11);
    --color-grey-light: rgba(0, 0, 0, 0.08);
    --color-grey-lighter: rgba(0, 0, 0, 0.05);
    --color-white: var(--white);
    --color-primary-dark: var(--blue-600);
    --color-primary: var(--blue-400);
    --color-primary-light: rgba(26, 159, 255, 0.24);
    --color-primary-lighter: rgba(26, 159, 255, 0.12);
    --color-warning-dark: var(--red-700);
    --color-warning: var(--red-500);
    --color-warning-light: var(--red-50);
    --color-beta: var(--violet-500);
    --border-color: var(--color-grey-medium);
    --font-sans: "Inter", -apple-system, "Helvetica", sans-serif;
    --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 8px;
    --radius-xl: 12px;
    --radius-xxl: 18px;
    --radius-3xl: 24px;
    --shadow-o: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    --shadow-s: var(--shadow-o), 0 2px 6px 0 rgba(0, 0, 0, 0.18);
    --shadow-m: var(--shadow-o), 0 1.5px 3px 0 rgba(0, 0, 0, 0.06), 0 6px 12px 0 rgba(0, 0, 0, 0.12);
    --shadow-l: var(--shadow-o), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 18px 36px 0 rgba(0, 0, 0, 0.15);
    --shadow-focus: 0 0 0 3px var(--color-primary-light);
    --duration-shorter: 120ms;
    --duration-short: 240ms;
    --duration-medium: 480ms;
    --duration-long: 600ms;
    --duration-longer: 1200ms;
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1)
}

@font-face {
    font-family: Inter;
    src: url(/rsc/fonts/InterNebo-Regular.f139bbb.woff2) format("woff2"), url(/rsc/fonts/InterNebo-Regular.56730a5.woff) format("woff");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Inter;
    src: url(/rsc/fonts/InterNebo-Bold.86cc086.woff2) format("woff2"), url(/rsc/fonts/InterNebo-Bold.31566c1.woff) format("woff");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: Inter;
    src: url(/rsc/fonts/Inter-Medium.d0a58d9.woff2) format("woff2"), url(/rsc/fonts/Inter-Medium.eec0ea5.woff) format("woff");
    font-weight: 500;
    font-display: swap
}

.color-grey-darker {
    color: #272e36;
    color: var(--color-grey-darker)
}

.color-grey-dark {
    color: #4f5b68;
    color: var(--color-grey-dark)
}

.color-grey {
    color: #848f9a;
    color: var(--color-grey)
}

.color-primary-dark {
    color: #006fdc;
    color: var(--color-primary-dark)
}

.color-primary {
    color: #1a9fff;
    color: var(--color-primary)
}

.background-grey-light {
    background-color: rgba(0, 0, 0, .08);
    background-color: var(--color-grey-light)
}

.background-primary {
    background-color: #1a9fff;
    background-color: var(--color-primary)
}

.background-primary-light {
    background-color: rgba(26, 159, 255, .24);
    background-color: var(--color-primary-light)
}

.text-xs {
    font-size: 12px;
    line-height: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: 0
}

.text-s, .text-s-m {
    font-size: 13px;
    line-height: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: -.006em
}

@media only screen and (min-width: 600px) {
    .text-s-m {
        font-size: 16px;
        line-height: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
        letter-spacing: -.009em
    }
}

.text-m, .text-m-l {
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: -.009em
}

@media only screen and (min-width: 600px) {
    .text-m-l {
        font-size: 20px;
        line-height: 30px;
        padding-top: 7px;
        padding-bottom: 11px;
        letter-spacing: -.017em
    }
}

.text-l, .text-l-xl {
    font-size: 20px;
    line-height: 30px;
    padding-top: 7px;
    padding-bottom: 11px;
    letter-spacing: -.017em
}

@media only screen and (min-width: 600px) {
    .text-l-xl {
        font-size: 26px;
        line-height: 36px;
        padding-top: 8px;
        padding-bottom: 4px;
        letter-spacing: -.019em
    }
}

.text-xl, .text-xl-xxl {
    font-size: 26px;
    line-height: 36px;
    padding-top: 8px;
    padding-bottom: 4px;
    letter-spacing: -.019em
}

@media only screen and (min-width: 600px) {
    .text-xl-xxl {
        font-size: 36px;
        line-height: 48px;
        padding-top: 10px;
        padding-bottom: 14px;
        letter-spacing: -.022em
    }
}

.text-xxl {
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 14px
}

.text-3xl, .text-xxl {
    line-height: 48px;
    letter-spacing: -.022em
}

.text-3xl {
    font-size: 42px;
    padding-top: 1px;
    padding-bottom: 11px
}

.text-xxl-3xl {
    font-size: 36px;
    line-height: 48px;
    padding-top: 10px;
    padding-bottom: 14px;
    letter-spacing: -.022em
}

@media only screen and (min-width: 600px) {
    .text-xxl-3xl {
        font-size: 42px;
        line-height: 48px;
        padding-top: 1px;
        padding-bottom: 11px;
        letter-spacing: -.022em
    }
}

.text-xl-xxl-3xl {
    font-size: 36px;
    line-height: 48px;
    padding-top: 10px;
    padding-bottom: 14px;
    letter-spacing: -.022em
}

@media only screen and (min-width: 600px) {
    .text-xl-xxl-3xl {
        font-size: 42px;
        line-height: 48px;
        padding-top: 1px;
        padding-bottom: 11px;
        letter-spacing: -.022em
    }
}

.text-3xl-4xl {
    font-size: 42px;
    line-height: 48px;
    padding-top: 1px;
    padding-bottom: 11px;
    letter-spacing: -.022em
}

@media only screen and (min-width: 600px) {
    .text-3xl-4xl {
        font-size: 54px;
        line-height: 54px;
        padding-top: 1px;
        padding-bottom: 11px;
        letter-spacing: -.0223em
    }
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-medium {
    font-weight: 500
}

.text-bold {
    font-weight: 700
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: .15em
}

.text-ellipsis, [class^=button] {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.no-focus:focus {
    outline: 0;
    box-shadow: none
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden
}

.hidden, .no-margin {
    margin: 0
}

@media only screen and (max-width: 599px) {
    .tablet-visible {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden
    }
}

@media only screen and (min-width: 600px) {
    .tablet-hidden {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden
    }
}

.wrapper, .wrapper-4xl {
    margin: 0 auto
}

.wrapper-4xl {
    max-width: 1512px
}

.wrapper-3xl {
    margin: 0 auto;
    max-width: 1200px
}

.wrapper-xxl {
    margin: 0 auto;
    max-width: 1008px
}

.wrapper-xl {
    margin: 0 auto;
    max-width: 792px
}

.wrapper-l {
    margin: 0 auto;
    max-width: 600px
}

.wrapper-m {
    margin: 0 auto;
    max-width: 432px
}

.wrapper-s {
    margin: 0 auto;
    max-width: 288px
}

.section-s {
    padding: 36px 24px
}

@media only screen and (min-width: 600px) {
    .section-s {
        padding: 60px 24px
    }
}

.section-m {
    padding: 48px 24px
}

@media only screen and (min-width: 600px) {
    .section-m {
        padding: 72px 48px
    }
}

@media only screen and (min-width: 1008px) {
    .section-m {
        padding: 96px 72px
    }
}

.section-overlap {
    padding-bottom: 0
}

.card-l, .card-m, .card-m-l, .card-o-l, .card-o-m, .card-s {
    background: #fff;
    background: var(--color-white)
}

.card-s {
    border-radius: 6px;
    border-radius: var(--radius-m);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 2px 6px 0 rgba(0, 0, 0, .18);
    box-shadow: var(--shadow-s)
}

.card-m {
    border-radius: 8px;
    border-radius: var(--radius-l);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 1.5px 3px 0 rgba(0, 0, 0, .06), 0 6px 12px 0 rgba(0, 0, 0, .12);
    box-shadow: var(--shadow-m)
}

.card-o-m {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 1.5px 3px 0 rgba(0, 0, 0, .06), 0 6px 12px 0 rgba(0, 0, 0, .12);
    box-shadow: var(--shadow-m)
}

@media only screen and (min-width: 600px) {
    .card-o-m {
        border-radius: 8px;
        border-radius: var(--radius-l)
    }
}

.card-l {
    border-radius: 12px;
    border-radius: var(--radius-xl);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 4px 8px 0 rgba(0, 0, 0, .1), 0 18px 36px 0 rgba(0, 0, 0, .15);
    box-shadow: var(--shadow-l)
}

.card-m-l {
    border-radius: 8px;
    border-radius: var(--radius-l);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 1.5px 3px 0 rgba(0, 0, 0, .06), 0 6px 12px 0 rgba(0, 0, 0, .12);
    box-shadow: var(--shadow-m)
}

@media only screen and (min-width: 600px) {
    .card-m-l {
        border-radius: 12px;
        border-radius: var(--radius-xl);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 4px 8px 0 rgba(0, 0, 0, .1), 0 18px 36px 0 rgba(0, 0, 0, .15);
        box-shadow: var(--shadow-l)
    }
}

.card-o-l {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 4px 8px 0 rgba(0, 0, 0, .1), 0 18px 36px 0 rgba(0, 0, 0, .15);
    box-shadow: var(--shadow-l)
}

@media only screen and (min-width: 600px) {
    .card-o-l {
        border-radius: 12px;
        border-radius: var(--radius-xl)
    }
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

@media print {
    .app {
        display: block
    }
}

.app.fixed {
    position: fixed;
    overflow: hidden
}

[class^=button] {
    font-weight: 500;
    background: 0 0
}

.button-m, .menu-button {
    border-radius: 6px;
    border-radius: var(--radius-m)
}

.button-disk.menu-button, .button-m.button-disk, .button-m.button-square, .button-square.menu-button {
    width: 36px;
    padding: 0
}

.button-m.button-rounded, .button-rounded.menu-button {
    padding: 6px 15px;
    border-radius: 18px;
    border-radius: var(--radius-xxl)
}

.button-m-l {
    border-radius: 6px;
    border-radius: var(--radius-m)
}

.button-m-l.button-rounded {
    border-radius: var(--radius-xxl)
}

.button-m-l.button-disk, .button-m-l.button-square {
    width: 36px;
    padding: 0
}

.button-m-l.button-rounded {
    border-radius: 18px
}

@media only screen and (min-width: 600px) {
    .button-m-l {
        border-radius: 6px;
        border-radius: var(--radius-m)
    }

    .button-m-l.button-disk, .button-m-l.button-square {
        width: 48px;
        padding: 0
    }

    .button-m-l.button-rounded {
        border-radius: 24px;
        border-radius: var(--radius-3xl)
    }
}

.button-l {
    border-radius: 8px;
    border-radius: var(--radius-l)
}

.button-l.button-disk, .button-l.button-square {
    width: 48px;
    padding: 0
}

.button-l.button-rounded {
    border-radius: 24px
}

.button-disk {
    border-radius: 50%
}

.button-primary {
    color: #1a9fff;
    color: var(--color-primary)
}

.no-touch .button-primary:hover {
    color: #006fdc;
    color: var(--color-primary-dark);
    background: rgba(26, 159, 255, .12);
    background: var(--color-primary-lighter)
}

.button-primary-plain {
    color: #fff;
    color: var(--color-white);
    background: #1a9fff;
    background: var(--color-primary)
}

.no-touch .button-primary-plain:hover {
    color: #fff;
    color: var(--color-white);
    background: #006fdc;
    background: var(--color-primary-dark)
}

.button-secondary, .menu-button {
    color: #4f5b68;
    color: var(--color-grey-dark)
}

.no-touch .button-secondary:hover, .no-touch .menu-button:hover {
    color: #000;
    color: var(--color-black);
    background: rgba(0, 0, 0, .08);
    background: var(--color-grey-light)
}

.button-warning {
    color: #fa4040;
    color: var(--color-warning)
}

.no-touch .button-warning:hover {
    color: #dc2c39;
    color: var(--color-warning-dark);
    background: #feecee;
    background: var(--color-warning-light)
}

.button-warning:focus {
    box-shadow: 0 0 0 3px #feecee;
    box-shadow: 0 0 0 3px var(--color-warning-light)
}

.no-touch [class^=button-][disabled]:hover, [class^=button-][disabled] {
    color: #848f9a;
    color: var(--color-grey);
    background: 0 0;
    cursor: unset;
    filter: grayscale(100%)
}

.no-touch [class^=button-][disabled].button-primary-plain:hover, [class^=button-][disabled].button-primary-plain {
    background: rgba(0, 0, 0, .08);
    background: var(--color-grey-light);
    cursor: not-allowed
}

[class^=icon] {
    display: inline-block
}

.icon-after {
    margin-left: .35em
}

.icon-before {
    margin-right: .35em
}

.box, .box-l, .box-m, .box-m-l, .box-mh, .button-l, .button-m, .button-m-l, .menu-button {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: .24s;
    transition: var(--duration-short)
}

.no-touch .box-l:hover, .no-touch .box-m-l:hover, .no-touch .box-m:hover, .no-touch .box-mh:hover, .no-touch .box:hover, .no-touch .button-l:hover, .no-touch .button-m-l:hover, .no-touch .button-m:hover, .no-touch .menu-button:hover {
    text-decoration: none
}

.box-l > .icon-fit, .box-m-l > .icon-fit, .box-m > .icon-fit, .box-mh > .icon-fit, .box > .icon-fit, .button-l > .icon-fit, .button-m-l > .icon-fit, .button-m > .icon-fit, .menu-button > .icon-fit {
    height: .65em
}

.box-mh {
    font-size: 16px;
    letter-spacing: -.009em;
    line-height: 36px;
    height: 48px;
    padding: 11px .75em 13px
}

.box-m, .box-m-l, .button-m, .button-m-l, .menu-button {
    font-size: 16px;
    letter-spacing: -.009em;
    line-height: 24px;
    height: 36px;
    padding: 6px 9px
}

@media only screen and (min-width: 600px) {
    .box-m-l, .button-m-l {
        font-size: 20px;
        letter-spacing: -.017em;
        line-height: 24px;
        height: 48px;
        padding: 12px 18px
    }
}

.box-l, .button-l {
    font-size: 20px;
    letter-spacing: -.017em;
    line-height: 24px;
    height: 48px;
    padding: 12px 18px
}

.form-item {
    width: 100%;
    margin: 0 0 12px
}

.form-label {
    display: block;
    padding: 0 0 6px;
    color: #4f5b68;
    color: var(--color-grey-dark)
}

.form-hint {
    display: block;
    padding: 3px 0;
    color: #848f9a;
    color: var(--color-grey)
}

.input, .input-m, .input-mh {
    border: none;
    box-shadow: inset 0 0 0 1px #848f9a;
    box-shadow: inset 0 0 0 1px var(--color-grey);
    background: #fff;
    background: var(--color-white);
    border-radius: 6px;
    transition: all .12s;
    transition: all var(--duration-shorter)
}

.input-m:-webkit-autofill, .input-mh:-webkit-autofill, .input:-webkit-autofill {
    background: #fff;
    box-shadow: inset 0 0 0 1px #848f9a, inset 0 0 0 1000px #fff !important;
    box-shadow: inset 0 0 0 1px var(--color-grey), inset 0 0 0 1000px var(--color-white) !important
}

.input-m:-webkit-autofill:focus, .input-mh:-webkit-autofill:focus, .input:-webkit-autofill:focus {
    box-shadow: inset 0 0 0 2px #1a9fff, inset 0 0 0 1000px #fff !important;
    box-shadow: inset 0 0 0 2px var(--color-primary), inset 0 0 0 1000px var(--color-white) !important
}

.input-m:focus, .input-mh:focus, .input:focus {
    box-shadow: inset 0 0 0 2px #1a9fff;
    box-shadow: inset 0 0 0 2px var(--color-primary)
}

.input-m, .input-mh {
    font-size: 16px;
    line-height: 24px;
    height: 36px;
    padding: 6px 12px
}

.input-mh {
    height: 48px;
    padding: 12px
}

.input-vanilla {
    border-color: transparent
}

.input-vanilla:focus {
    border-color: #006fdc;
    border-color: var(--color-primary-dark)
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5
}

.overlay.transparent {
    background: 0 0
}

.overlay.opaque {
    background: #fff;
    background: var(--color-white)
}

.overlay.translucent {
    background: rgba(0, 0, 0, .5)
}

::-moz-selection {
    background-color: rgba(26, 159, 255, .24);
    background-color: var(--color-primary-light)
}

::selection {
    background-color: rgba(26, 159, 255, .24);
    background-color: var(--color-primary-light)
}

.relative {
    position: relative
}

.full-width {
    width: 100%
}

.button-disk, .button-square, .flex-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.flex-between {
    justify-content: space-between
}

.flex-between, .flex-end {
    display: flex;
    align-items: center
}

.flex-end {
    justify-content: flex-end
}

.flex-col, .flex-col-row {
    display: flex;
    flex-direction: column
}

@media only screen and (min-width: 600px) {
    .flex-col-row {
        flex-direction: row
    }
}

.pad-m {
    padding: 48px 24px
}

@media only screen and (min-width: 600px) {
    .pad-m {
        padding: 60px
    }
}

@media only screen and (min-width: 792px) {
    .pad-m {
        padding: 72px
    }
}

.menu {
    position: fixed;
    transition: visibility .24s;
    transition: visibility var(--duration-short)
}

@media only screen and (min-width: 600px) {
    .menu {
        position: absolute
    }
}

.menu .icon-rightwards {
    color: #848f9a;
    color: var(--color-grey)
}

@media only screen and (max-width: 599px) {
    .menu .invisible {
        visibility: hidden
    }
}

.menu-group {
    padding: 6px 6px 0
}

.menu-group .relative {
    width: 100%
}

.menu-group:last-child {
    padding-bottom: 6px
}

.menu-rows {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all .24s;
    transition: all var(--duration-short)
}

.menu-rows-leave-active {
    position: absolute
}

.menu-rows-enter, .menu-rows-leave-to {
    opacity: 0
}

.menu-row {
    display: flex;
    justify-content: space-between;
    transition: all .24s ease-out;
    transition: all var(--duration-short) ease-out
}

.menu-row, .menu-row .modal {
    width: 100%
}

@media only screen and (min-width: 600px) {
    .menu-row .modal {
        width: auto
    }
}

.menu-row .box, .menu-row .box-l, .menu-row .box-m, .menu-row .box-m-l, .menu-row .box-mh, .menu-row .button-l, .menu-row .button-m, .menu-row .button-m-l, .menu-row .menu-button {
    font-weight: 500
}

.menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    background: 0 0
}

.menu-button svg {
    color: #848f9a;
    color: var(--color-grey)
}

@media only screen and (max-width: 599px) {
    .menu-button {
        height: 48px;
        padding: 6px 12px
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .12s cubic-bezier(.165, .84, .44, 1);
    transition: opacity var(--duration-shorter) var(--ease-out-quart)
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    will-change: opacity
}

.fade-in-enter-active {
    transition: opacity .6s cubic-bezier(.165, .84, .44, 1);
    transition: opacity var(--duration-long) var(--ease-out-quart)
}

.fade-in-enter, .fade-in-leave-to {
    opacity: 0;
    will-change: opacity
}

.slide-right-enter-active, .slide-right-leave-active {
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all var(--duration-long) var(--ease-out-quart)
}

.slide-right-enter {
    opacity: 0;
    transform: translateX(-24px);
    will-change: transform
}

.slide-right-leave-to {
    opacity: 0;
    transform: translateX(24px);
    will-change: transform
}

.slide-left-enter-active, .slide-left-leave-active {
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all var(--duration-long) var(--ease-out-quart)
}

.slide-left-enter {
    opacity: 0;
    transform: translateX(24px);
    will-change: transform
}

.slide-left-leave-to {
    opacity: 0;
    transform: translateX(-24px);
    will-change: transform
}

.fade-pop-active, .fade-pop-enter-active {
    transition: all .12s cubic-bezier(.165, .84, .44, 1);
    transition: all var(--duration-shorter) var(--ease-out-quart)
}

.fade-pop-enter, .fade-pop-leave-to {
    opacity: 0;
    transform: scale(.9);
    will-change: opacity, transform
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #000;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

.header-signin {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding: 12px
}

.header-signin .box {
    font-weight: 500
}

.header-signin .icon-home {
    display: block
}

a[disabled][data-v-6f633deb] {
    pointer-events: none
}

.button-primary[data-v-6f633deb] {
    font-weight: 500;
    color: var(--color-grey-dark)
}

.site-header[data-v-6f633deb] {
    padding: 0 12px
}

.site-nav-toggle-wrapper[data-v-6f633deb], .site-nav-user-wrapper[data-v-6f633deb] {
    flex: 0 0 25%
}

@media only screen and (min-width: 840px) {
    .site-nav-toggle-wrapper[data-v-6f633deb], .site-nav-user-wrapper[data-v-6f633deb] {
        flex: 0 1 auto
    }
}

.site-nav-toggle[data-v-6f633deb] {
    flex: 0 1 auto;
    background: var(--color-grey-light)
}

.icon-toggle-l1[data-v-6f633deb], .icon-toggle-l2[data-v-6f633deb], .icon-toggle-l3[data-v-6f633deb] {
    transition: var(--duration-medium) var(--ease-out-quart)
}

.icon-toggle-l1[data-v-6f633deb] {
    transform: translateY(-6px);
    transform-origin: 0 center
}

.icon-toggle-l3[data-v-6f633deb] {
    transform: translateY(6px);
    transform-origin: 0 center
}

.site-nav-close[data-v-6f633deb] {
    flex: 1 0 auto;
    position: -webkit-sticky;
    position: sticky;
    align-self: self-end;
    top: 0;
    margin-left: -12px;
    background: var(--color-grey-light);
    max-height: 36px
}

.site-nav-overlay-enter-active[data-v-6f633deb], .site-nav-overlay-leave-active[data-v-6f633deb] {
    transition: all var(--duration-short) var(--ease-out-quart)
}

.site-nav-overlay-enter[data-v-6f633deb], .site-nav-overlay-leave-to[data-v-6f633deb] {
    opacity: 0;
    will-change: opacity, backdrop-filter
}

.site-nav[data-v-6f633deb] {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 12px 0
}

.site-nav-modal[data-v-6f633deb] {
    display: flex;
    align-items: center
}

@media only screen and (max-width: 839px) {
    .site-nav-modal[data-v-6f633deb] {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        overflow: auto;
        padding: 12px 24px 24px;
        background: var(--color-white);
        box-shadow: var(--shadow-l);
        transition: transform var(--duration-medium) var(--ease-out-quart);
        will-change: transform
    }

    .site-nav-modal.slide-in-up[data-v-6f633deb] {
        transform: translateY(120%)
    }
}

@media only screen and (min-width: 840px) {
    .site-nav-modal[data-v-6f633deb] {
        margin-right: auto
    }
}

.site-nav-modal-logo[data-v-6f633deb] {
    flex: 1 0 auto;
    display: block;
    margin: 0 auto 48px;
    max-height: 36px
}

.site-nav-home[data-v-6f633deb] {
    display: flex;
    align-items: center;
    border-radius: 9px
}

@media only screen and (min-width: 840px) {
    .site-nav-home[data-v-6f633deb] {
        margin-right: 12px;
        padding: 0 10px 0 0
    }
}

.site-nav-home[data-v-6f633deb]:hover {
    background: 0 0
}

.site-nav-home .logo-type[data-v-6f633deb] {
    display: inline-block;
    margin: 0 0 3px 10px;
    font-size: 27px;
    line-height: 31px
}

.site-nav-items[data-v-6f633deb] {
    display: flex;
    flex-direction: column
}

@media only screen and (min-width: 840px) {
    .site-nav-items[data-v-6f633deb] {
        flex-direction: row
    }
}

.site-nav-item[data-v-6f633deb] {
    display: flex
}

@media only screen and (max-width: 839px) {
    .site-nav-item .button-m[data-v-6f633deb] {
        font-size: 20px;
        letter-spacing: -.017em;
        line-height: 24px;
        width: 100%;
        height: 48px;
        padding: 12px .75em;
        text-align: center;
        border-radius: 24px
    }

    .no-touch .site-nav-item .button-m[data-v-6f633deb]:hover {
        text-decoration: none
    }
}

.site-nav-item .nuxt-link-exact-active[data-v-6f633deb] {
    color: var(--color-primary-dark);
    cursor: default
}

@media only screen and (max-width: 839px) {
    .site-nav-group[data-v-6f633deb] {
        margin: 12px 0
    }

    .site-nav-group > .button-m[data-v-6f633deb] {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: var(--font-semibold);
        color: var(--color-grey-medium)
    }

    .site-nav-group > .button-m[data-v-6f633deb]:hover {
        background: 0 0
    }

    .site-nav-group > .button-m[data-v-6f633deb]:focus {
        box-shadow: none
    }
}

.site-nav-solutions-modal.hidden[data-v-6f633deb] {
    visibility: visible;
    width: auto;
    height: auto;
    overflow: visible;
    overflow: initial
}

@media only screen and (min-width: 840px) {
    .site-nav-solutions-modal[data-v-6f633deb] {
        position: absolute;
        top: 39px;
        padding: 3px;
        background: #fff;
        border-radius: var(--radius-l);
        box-shadow: var(--shadow-m);
        z-index: 1
    }

    .site-nav-solutions-modal .button-m[data-v-6f633deb] {
        padding: 6px 12px;
        border-radius: 6px;
        width: 100%
    }

    .site-nav-solutions-modal.hidden[data-v-6f633deb] {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden
    }
}

.button-get-nebo[data-v-6f633deb] {
    margin: 24px 0 0;
    font-weight: 500
}

@media only screen and (min-width: 840px) {
    .button-get-nebo[data-v-6f633deb] {
        margin: 0 0 0 12px
    }
}

.button-get-nebo.nuxt-link-exact-active[data-v-6f633deb] {
    background: var(--color-primary-lighter)
}

.site-nav-social[data-v-6f633deb] {
    display: flex;
    justify-content: center;
    margin: 24px 0 0
}

@media only screen and (min-width: 840px) {
    .site-nav-social[data-v-6f633deb] {
        margin: 0 0 0 30px
    }
}

.site-nav-social .site-nav-item[data-v-6f633deb] {
    margin: 0 12px 0 0
}

.site-nav-social .site-nav-item .icon[data-v-6f633deb] {
    height: 16px
}

.site-nav-user[data-v-6f633deb] {
    display: flex
}

@media only screen and (min-width: 840px) {
    .breakpoint-hidden[data-v-6f633deb] {
        display: none
    }
}

.section-intro[data-v-646e2d46] {
    margin: 0 auto 36px
}

@media only screen and (min-width: 600px) {
    .section-intro[data-v-646e2d46] {
        margin: 0 auto 60px
    }
}

.section-intro .text-title[data-v-646e2d46] {
    font-size: 26px;
    line-height: 36px;
    padding-top: 8px;
    padding-bottom: 4px;
    letter-spacing: -.019em
}

@media only screen and (min-width: 600px) {
    .section-intro .text-title[data-v-646e2d46] {
        font-size: 36px;
        line-height: 48px;
        padding-top: 10px;
        padding-bottom: 14px;
        letter-spacing: -.022em
    }
}

.section-intro .text-desc[data-v-646e2d46] {
    font-size: 20px;
    line-height: 30px;
    padding-top: 7px;
    padding-bottom: 11px;
    letter-spacing: -.017em;
    color: var(--color-grey-dark)
}

.section-alt[data-v-646e2d46] {
    background: var(--color-grey-lighter)
}

.hero-section .text-title[data-v-646e2d46], [lang=en] .text-desc[data-v-646e2d46] {
    max-width: 90%;
    margin: 0 auto
}

.hero-section .text-title[data-v-646e2d46] {
    font-size: 36px;
    line-height: 48px;
    padding-top: 10px;
    padding-bottom: 14px;
    letter-spacing: -.022em
}

@media only screen and (min-width: 600px) {
    .hero-section .text-title[data-v-646e2d46] {
        font-size: 42px;
        line-height: 48px;
        padding-top: 1px;
        padding-bottom: 11px;
        letter-spacing: -.022em
    }
}

[lang=en] .hero-section .text-title[data-v-646e2d46] {
    max-width: 70%
}

.interactive-ink-section .text-title[data-v-646e2d46] {
    font-weight: var(--font-semibold)
}

.icon-iink[data-v-646e2d46] {
    height: 57px;
    margin: -12px 0 -20px -16px
}

@media only screen and (min-width: 600px) {
    .icon-iink[data-v-646e2d46] {
        height: 79px;
        margin: -24px 0 -28px -22px
    }
}

.video-caption[data-v-646e2d46] {
    padding: 36px 30px 0;
    color: var(--color-grey-dark)
}

.card-m-l[data-v-646e2d46] {
    overflow: hidden
}

.feature-title[data-v-646e2d46] {
    font-size: 20px;
    line-height: 30px;
    padding-top: 7px;
    padding-bottom: 11px;
    letter-spacing: -.017em;
    font-weight: var(--font-semibold);
    color: var(--color-black)
}

.feature-desc[data-v-646e2d46] {
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: -.009em;
    margin: -6px 0 6px;
    color: var(--color-grey-dark)
}

.feature-desc.first[data-v-646e2d46] {
    color: var(--color-black)
}

@media only screen and (min-width: 1008px) {
    .properties[data-v-646e2d46] {
        text-align: center
    }
}

.property[data-v-646e2d46] {
    flex: 1;
    margin: 0
}

@media only screen and (min-width: 1008px) {
    .property[data-v-646e2d46] {
        padding: 0 21px
    }
}

.property strong[data-v-646e2d46] {
    color: #000
}

.property-illustration[data-v-646e2d46] {
    margin: 0 auto 36px
}

.tabpanel-figure[data-v-646e2d46] {
    display: flex;
    flex-direction: column-reverse
}

@media only screen and (min-width: 1008px) {
    .tabpanel-figure[data-v-646e2d46] {
        flex-direction: row
    }
}

.tabpanel-video[data-v-646e2d46] {
    flex: 2;
    border-top: 1px solid var(--color-grey-light)
}

@media only screen and (min-width: 1008px) {
    .tabpanel-video[data-v-646e2d46] {
        border-top: 0;
        border-right: 1px solid var(--color-grey-light)
    }
}

.tabpanel-video img[data-v-646e2d46] {
    width: 100%;
    display: block
}

.tabpanel-caption[data-v-646e2d46] {
    flex: 1;
    padding: 18px 30px
}

.detailed-features[data-v-646e2d46] {
    flex-wrap: wrap
}

@media only screen and (min-width: 600px) {
    .detailed-features[data-v-646e2d46] {
        margin: 0 -18px
    }
}

.detailed-feature[data-v-646e2d46] {
    margin: 0 0 12px;
    text-align: left
}

@media only screen and (min-width: 600px) {
    .detailed-feature[data-v-646e2d46] {
        width: calc(50% - 36px);
        margin: 0 18px 12px
    }
}

@media only screen and (min-width: 1008px) {
    .detailed-feature[data-v-646e2d46] {
        width: calc(33.33% - 36px)
    }
}

.languages[data-v-646e2d46] {
    width: 100%;
    margin: 0
}

.pdf-aspect-ratio[data-v-646e2d46] {
    max-width: 834px;
    margin: 0 auto
}

.pdf-image[data-v-646e2d46] {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto
}

.tabs[data-v-4fcc2546] {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 24px;
    border-radius: 9px
}

.tab[data-v-e5fbfe8e] {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px 15px;
    font-weight: 600;
    color: var(--color-grey);
    background: 0 0;
    overflow: hidden
}

@media only screen and (min-width: 1008px) {
    .tab[data-v-e5fbfe8e] {
        flex-direction: row;
        padding: 8px 21px
    }
}

.tab [class^=icon][data-v-e5fbfe8e] {
    flex: 0 0 auto;
    height: 32px;
    margin: 0 0 4px
}

@media only screen and (min-width: 1008px) {
    .tab [class^=icon][data-v-e5fbfe8e] {
        height: 32px;
        margin: 0 6px 0 -4px
    }
}

.tab[data-v-e5fbfe8e]:not(:last-child) {
    margin-right: 3px
}

.tab.selected[data-v-e5fbfe8e] {
    color: #000;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5), 0 2px 6px 0 rgba(0, 0, 0, .18)
}

.tab.selected[data-v-e5fbfe8e]:focus {
    outline: 0
}

.tab.selected[data-v-e5fbfe8e]:focus:not(.nuxt-link-exact-active):not(.router-link-exact-active) {
    outline: 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5), 0 2px 6px 0 rgba(0, 0, 0, .18), 0 0 0 3px var(--color-primary-light)
}

.tab .progress[data-v-e5fbfe8e] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--color-primary);
    transition: transform .2s linear;
    will-change: transform;
    transform: translateX(-100%)
}

.video-player[data-v-1c159edc] {
    position: relative;
    height: 0;
    overflow: hidden
}

.video-element[data-v-1c159edc], .video-poster[data-v-1c159edc] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover
}

.icon-play[data-v-1c159edc] {
    height: .75em
}

.video-play[data-v-1c159edc] {
    font-size: 26px;
    padding: 0;
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 72px;
    margin-left: -36px;
    margin-top: -36px;
    left: 50%;
    top: 50%;
    background: hsla(0, 0%, 100%, .85);
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
    cursor: pointer;
    transition: .12s
}

@media only screen and (min-width: 1008px) {
    .video-play[data-v-1c159edc] {
        width: 96px;
        height: 96px;
        margin-left: -48px;
        margin-top: -48px;
        font-size: 42px
    }
}

.video-play[data-v-1c159edc]:hover {
    transform: scale(1.1667);
    background: #fff
}

.video-poster[data-v-1c159edc] {
    background-size: cover
}

.outer[data-v-b67db4c8] {
    position: relative;
    height: 0
}

.inner[data-v-b67db4c8] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

a[data-v-7f422ede] {
    color: var(--color-grey-dark)
}

@media only screen and (min-width: 600px) {
    .button-m.button-disk[data-v-7f422ede] {
        width: 48px;
        height: 48px
    }
}

.social-network[data-v-7f422ede] {
    margin: 0 3px 12px
}

.social-network .icon[data-v-7f422ede] {
    height: 16px
}

@media only screen and (min-width: 600px) {
    .social-network .icon[data-v-7f422ede] {
        height: 20px
    }
}

.legal[data-v-7f422ede] {
    font-weight: var(--font-medium);
    color: var(--color-grey-dark)
}

.legal a[data-v-7f422ede] {
    font-weight: 500;
    border-radius: var(--radius-xs)
}

.legal a[data-v-7f422ede]:hover {
    text-decoration: none;
    color: var(--color-primary-dark)
}

.separator[data-v-7f422ede] {
    margin: 0 3px
}

.download-badges[data-v-6fc2be9c] {
    margin: 0 0 24px
}

.download-badge[data-v-6fc2be9c] {
    margin: 0 12px 12px
}

.download-badge[data-v-027406cf] {
    border-radius: 8px
}

.download-image[data-v-027406cf] {
    height: 100%
}

.download-image[data-v-15aea637] {
    height: 100%
}

.download-badge[data-v-3fbf76e2] {
    border-radius: 4px
}

.download-image[data-v-3fbf76e2] {
    height: 100%
}

.select[data-v-5bba12a7] {
    position: relative;
    display: inline-flex
}

.select-el[data-v-5bba12a7] {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-family: inherit;
    font-size: medium;
    line-height: normal;
    background-image: none;
    border: none;
    -webkit-appearance: menulist-button
}

.select-el[data-v-5bba12a7]::-ms-expand {
    display: none
}

.select-el[data-v-5bba12a7]:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

.select-el:focus + .select-box[data-v-5bba12a7] {
    box-shadow: 0 0 0 1px var(--color-grey-medium) inset, 0 0 0 3px var(--color-primary-light)
}

.select-box[data-v-5bba12a7] {
    box-shadow: 0 0 0 1px var(--color-grey-medium) inset
}

@media only screen and (max-width: 599px) {
    .select-box.button-m[data-v-5bba12a7] {
        border-radius: var(--radius-m);
        width: auto;
        padding: 6px 9px
    }
}

.icon-caret[data-v-5bba12a7] {
    margin-left: 12px
}
